<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="POST">
      name:  <input type="text" name="name"> <br>
      usn:  <input type="text" name="usn"> <br>
      event:  <input type="text" name="event"> <br>
      email:  <input type="email" name="email"> <br>
      phno:  <input type="number" name="phno"> <br>
      branch:  <input type="text" name="branch"> <br>
      sem:  <input type="text" name="semester"> <br>
      gender:  <input type="text"name="gender"> <br>
      localite:  <input type="text"name="localite"> <br>
      laptop: <input type="text"name="laptop"> <br>
    <button type="submit" id="js">Submit</button>
    </form>
    
</body>
</html>